.myTable{
    width: 100%;
    border-collapse: collapse ;
   
    .table_title{
         
        border: 1px solid black;
        text-align: center;
    }
    .table_td{
        border: 1px solid black;
        text-align: center;
    }
}